/node_modules
/public/hot
/public/storage
/storage/*.key
/bootstrap/
/app/Console
/app/Exceptions
/app/Http
/app/Providers
/database
/storage
/tests
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env